*.iml
.gradle
.idea
local.properties
gradle.properties
.DS_Store
build
captures
dependencyReport
staticAnalysisReport/
*.keystore
google-services.json
master-slave-clean-store-firebase-crashreporting-private-key.json
