language: android
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - android-25
  - build-tools-25.0.2
  - extra-android-m2repository
  - extra-google-m2repository
  - platform-tools
branches:
  except:
  - "/^[0-9]/"
env:
  matrix:
  # The app tasks are heavy, so we use one per job
  - TASK="./gradlew :app:clean :app:build :app:check" #:app:dokka" <- https://github.com/Kotlin/dokka/issues/135
  - TASK="./gradlew :domain:clean :domain:build :domain:check :domain:dokka"
  - TASK="./gradlew :data:clean :data:build :data:check :data:dokka"
  - TASK="./gradlew :util:clean :util:build :util:check :util:dokka :util-android:clean :util-android:build :util-android:check :util-android:dokka"
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- openssl aes-256-cbc -K $encrypted_90d766e4084d_key -iv $encrypted_90d766e4084d_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google-services-debug.json app/src/debug/google-services.json
- mv google-services-release.json app/src/release/google-services.json
before_script:
- printf "org.gradle.daemon=false\nFirebaseServiceAccountFilePath=" > gradle.properties
- export ARTIFACT_VERSION=$(git rev-list --count HEAD)
- |
  if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
    echo "Do not open PRs against master; merge dev into master locally and push instead."
    exit 1
  fi
script:
- travis_wait ${TASK}
before_cache:
- rm -f /home/travis/.gradle/caches/modules-2/modules-2.lock
- rm -fr /home/travis/.gradle/caches/*/plugin-resolution/
- rm -f /home/travis/.gradle/caches/*/fileHashes/fileHashes.bin
- rm -f /home/travis/.gradle/caches/*/fileHashes/fileHashes.lock
- rm -fr /home/travis/.gradle/caches/*/scripts/*
after_success:
- |
  if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
    echo "CI on master succeded. Executing release tasks..."
    ./ci/release.sh
    echo "Uploading mapping to Firebase..."
    ./gradlew :app:firebaseUploadReleaseProguardMapping
  fi
notifications:
  email:
    recipients:
    - jorge.diazbenitosoriano@gmail.com
    on_success: change
    on_failure: always
