language: android
jdk: oraclejdk8
sudo: required
git:
  depth: 9999
android:
  components:
  - tools
  - platform-tools
  - android-27
  - build-tools-27.0.3
  - extra-android-m2repository
  - extra-google-m2repository
before_install:
  - yes | sdkmanager "platforms;android-27"
branches:
  except:
  - "/^[0-9]/"
env:
  matrix:
  - TASK="./gradlew :app:clean :app:build :app:check :app:dokka --stacktrace"
  - TASK="./gradlew :domain:clean :domain:build :domain:check :domain:dokka --stacktrace"
  - TASK="./gradlew :data:clean :data:build :data:check :data:dokka --stacktrace"
  - TASK="./gradlew :util-android:build :util-android:check :util-android:dokka :util-android-test:build :util-android-test:check :util-android-test:dokka --stacktrace"
before_script:
- export ARTIFACT_VERSION=$(git rev-list --count HEAD)
- |
  if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
    echo "Do not open PRs against master; merge dev into master locally and push instead."
    exit 1
  fi
script:
- ${TASK}
after_success:
- |
  if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ] && [[ "$TRAVIS_JOB_NUMBER" == *.1 ]]; then
    echo "CI on master succeded. Executing release tasks..."
    ./ci/release.sh
  fi
notifications:
  email:
    recipients:
    - jorge.diazbenitosoriano@gmail.com
    on_success: change
    on_failure: always
