<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jorge.ms.app">
    <application
        android:allowBackup="false"
        android:icon="@null"
        android:launchMode="singleTask">
        <activity
            android:label="@string/app_label"
            android:name="app.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.gaming.TopGamingAllTimePostsActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="app.detail.PostDetailActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:parentActivityName="app.gaming.TopGamingAllTimePostsActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.gaming.TopGamingAllTimePostsActivity" />
        </activity>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>
</manifest>
