<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jorge.ms.app">
    <application
        android:name="app.MainApplication"
        android:allowBackup="false"
        android:icon="@null"
        android:launchMode="singleTask">
        <activity
            android:label="@string/app_label"
            android:name="app.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="app.gaming.TopGamingAllTimePostsActivity"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>
