<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jorge.ms.app">
    <application
        android:name="app.DebugApplication"
        tools:ignore="AllowBackup" />
        <!-- The main manifest takes care of AllowBackup -->
</manifest>
